{% extends 'editor/layout.html' %}

{% block title %}ligasfrancesinha{% endblock %}

{% block main %}
<div class="editor_section">
    <div class="app_container">
        {% for app in apps %}
        <div class="app_icon" {{ app.style }} data-href="{{ app.url }}" onclick="linkToDatasetHref(this)">
            <a href="{{app.url}}">
                <img class="app_image" src="{{ app.image_url }}" alt="{{app.name}}">
            </a>
            <p class="app_name">{{app.name}}</p>
        </div>
        {% endfor %}
        <div class="app_icon" style="background-color:#0187a2" data-href="/editor/documentation" onclick="linkToDatasetHref(this)">
            <a href="/editor/documentation">
                <img class="app_image" src="{{ url_for('static', filename='images/documentation.png') }}" alt="Documentation">
            </a>
            <p class="app_name">Documentation</p>
        </div>
    </div>
</div>
{% endblock %}
